:root {
  --first-font: "Montserrat", sans-serif;
  --second-font: "Roboto Mono", monospace;
  --light-green: #5a7769;
  --emerald: #183d2c;
  --light-brown: #e3c7b1;
}

.titledefinition {
  color: var(--emerald);
  font-family: var(--first-font);
  font-size: 20px;
}
.definition {
  color: var(--light-green);
  font-family: var(--second-font);
  font-size: 15px;
}
.example {
  color: var(--light-green);
  font-size: 15px;
}

.synonyms {
  font-size: 15px;
  font-family: var(--second-font);
  color: var(--light-green);
}

.speaker {
  text-decoration: none;
}
.speaker:hover {
  font-size: 18px;
}
